/*
 * ----------------------------------------------
 *  Nextflow config file for use with Singularity
 * ----------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
    enabled = true
    runOptions = '-B /mnt:/mnt'
}

process {
    withName:basecall_flappie {
        container = 'docker://caspargross/flappie:v1.1.0'
        }
    withName:convert_fast5 {
	container = 'docker://quay.io/biocontainers/ont-fast5-api:1.3.0--py_0'
	}
}
